body{
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.container{
    background-color:white;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
nav{
    display: flex;
    flex-direction: row;
    margin-top: 0.5em;
}
.logo{
    width: 3%;
    height: 2%;
    margin-left: 2em;
    margin-top: 0.2em;
}
ul{
    display: flex;
    gap: 60px;
    margin-left: 52em;
}
.arrow{
    position: absolute;
    top: 41.5%;
    width: 0.7%;
}
.menu-items{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 14px;
}
.btn{
    font-family: 'Poppins', sans-serif;
    margin-top: 0.7em;
    margin-bottom: 1.3em;
    margin-left: 4em;
    border: none;
    font-size: 13px;
    font-weight: 600;
    color: white;
    background-color: rgb(170, 210, 54);
    padding: 9px 28px;
    border-radius: 4px;
}
.acontainer{
    background-image: url(https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 15em 15em 14em ;
}
.header{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    letter-spacing: 15px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 2em;

}
.head-description{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
}
.div-sect{
    border: 1px solid transparent;
    height: 550px;
    width: 50%;
}
#one{
    background-color: #5acda6 ;
}
#two{
    background-color: #91ac41;
    ;
}
#three{
    background-color: #e4b476;
}
#four{
    background-color:  #f69dad; 
}
.sect{
    display: flex;
}
.sect-header{
    font-size: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 24px;
    color:white;
    text-align: center;
}
.sect-sub{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.8;
    color: white;
    text-align: center;
}
.sect-img{
    width: 30%;
    margin-left: 35%;
    margin-top: 18%;
}
.bcontainer{
    background-color:  #f7eee2;
    padding: 1em 5em 4em;
    line-height: 0.5;
}
.bcontainer,.ccontainer > *{
    text-align: center;
}
.fresh{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
    margin: 0;
    margin-top: 45px;
}
.subheader{
    font-family: 'Poppins', sans-serif;
    font-size: 44px;
    font-weight: 600;
    color: black;
}
.para{ 
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
.sect-two{
   display: grid;
   grid-template-columns: auto auto auto auto;
   column-gap: 7px;
   margin-top: 70px;
   
}
.div-sectt{
    border: 1px solid transparent;
    width: 300px;
    height: 350px;
}
.item-img{
    background-color: #e3b375;
    width: 70px;
    border-radius: 50%;
    padding: 2em;
    margin-bottom: 1em;
    margin-top: 2em;
}
.item-head{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}
.item-description{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    letter-spacing: 0.5px;
    font-weight: 500;
    line-height: 1.5;
    color: #8b8b99;
}
.ccontainer{
    background-color: white;
    padding: 1em 5em 4em;
    line-height: 0.5;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    letter-spacing: 0.5px;
}
.sect-three{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 150px;
}
.div-element{
    background-color: #f5f6fb;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    height: 350px;
    width: 300px;
    margin-left: 90%;
    margin-top: 70px;
    padding: 20px;
}
#second{
    margin-top: 90px;
}
.profile{
    border-radius: 50%;
    width: 80px;
    margin-top: 40px;
    margin-bottom: 10px;
}
.element-para{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
    color: #8b8b99;
    line-height: 1.6;
    font-style: Italic;
}
.element-h{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: black;
    margin-top: 2.3em;
}
.element-p{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: #8b8b99;
    font-style: Italic;
}
.both-img{
    display: inline-block;
    width: 100%;

}
.image{
    display: inline-block;
    width: 71%;
}
.imagetoo{
    display: inline-block;
    width: 28.7%;
    overflow: clip;
}
.subscribe-btn{
    background-color: #f69dad;
    height: 50px;
    width: 160px;
    font-size: 14px;
    border-radius: 6px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 1em;
    border: transparent;
    outline: none;
    font-family: 'Poppins', sans-serif;
}
.subscribe-btn:hover{
    border: 1px solid #f69dad;
    color: #f69dad;
    background-color:transparent ;
    cursor: pointer;
}
.input-email{
    font-family: 'Poppins', sans-serif;
    border: transparent;
    outline: none;
    height: 50px;
    width: 270px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: #8b8b99;
    margin-top: 2em;
}
.myelement{
    position: absolute;
    margin-left: 5%;
    margin-right: 4%;
    margin-top: 4%;
}
footer{
    background-color:#232323;
    padding: 30px 0px;
}
.footer-element{
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    text-align: center;
}
